<!-- script -->
<!-- <script>
  $(document).ready(function () {

    $('.star').on('click', function () {
      $(this).toggleClass('star-checked');
    });

    $('.ckbox label').on('click', function () {
      $(this).parents('tr').toggleClass('selected');
    });

    $('.btn-filter').on('click', function () {
      var $target = $(this).data('target');
      if ($target != 'all') {
        $('.table tr').css('display', 'none');
        $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
      } else {
        $('.table tr').css('display', 'none').fadeIn('slow');
      }
    });

  });

</script> -->

<!-- Navigatio Bar -->
<!-- <div>
  <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-info btn-lg" style="margin-left:auto; margin-right: 15%; border-width: 5px; border-style:outset;border-color: white; padding: 4px"
          routerLink="/playground">Playground</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info btn-lg" style="margin-left:auto; margin-right: 15%; border-width: 5px; border-style:outset;border-color: white; padding: 4px"
          routerLink="/followers">Followers</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info btn-lg" style="margin-left:auto; margin-right: 15%; border-width: 5px; border-style:outset;border-color: white; padding: 4px"
          routerLink="/followings">Followings</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info btn-lg" style="margin-left:auto; margin-right: 15%; border-width: 5px; border-style:outset;border-color: white; padding: 4px"
          routerLink="/tweetsearch">Search</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info btn-lg" style="margin-left:auto; margin-right: 15%; border-width: 5px; border-style:outset;border-color: white; padding: 4px"
          routerLink="/analytics">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info btn-lg" style="margin-left:auto; margin-right: 15%; border-width: 5px; border-style:outset;border-color: white; padding: 4px"
          routerLink="/profile">Profile</a>
      </li>
    </ul>
    <a class="btn btn-info btn-lg" style="margin-left: auto; margin-right: 0px; border-width: 5px; border-style:outset; padding: 4px;border-color: white;"
      (click)="logout()">Logout</a>
  </nav>
</div> -->



<!-- table -->
<!-- <div class="table-container">
  <table class="table table-filter">
    <tbody>
      <tr data-status="pagado" *ngFor="let person of listOfFollowers">

        <td>
          <a href="javascript:;" class="star">
            <i class="glyphicon glyphicon-star"></i>
          </a>
        </td>
        <td (click) = "getPerson(person.PID)"  data-toggle="modal" data-target="#myModal">
          <div class="media">
            <a routerLink="/other" class="pull-left">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="media-photo">
            </a>
            <div class="media-body">
              <h4 class="title">
                {{person.fName}} {{person.lName}}
              </h4>
              <p class="summary">
                <i> Followings:{{person.FollowingCount}} Followers:{{person.FollowerCount}} </i>
              </p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- ========================================================================================================= -->
<div class="container">
  <div class="page">
    <div style="width: 20%; margin: auto">
      <div class="card" *ngFor="let person of listOfFollowers">
        <div class="card-header header">
          <b>
            <a (click)="getPerson(person.PID)" data-toggle="modal" data-target="#myModal">{{person.fName}} {{person.lName}}</a>
          </b>
        </div>
        <div class="card-body">
          <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" height="100px" width="100px">
        </div>
      </div>
    </div>
  </div>
</div>








<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div style="width: 100%; margin: auto">
          <div class="card">
            <div class="card-header header">
              <h4>
                <b>{{personDetail.User.fName}} {{personDetail.User.lName}}</b>
              </h4>
              <i>Followers : {{personDetail.User.FollowerCount}} Followings : {{personDetail.User.FollowingCount}}</i>
            </div>
            <div class="card-body bton">
              <div class="form-group">
                <app-tweet [tweets]="listofTweets" (result)="update($event)"></app-tweet>
              </div>
              <hr>
              <a class="btn btn-primary" (click)="follow(personDetail.User.PID)" data-dismiss="modal" *ngIf="checkFollowing(personFlag)">Follow</a>
              <a class="btn btn-primary" (click)="unfollow(personDetail.User.PID)" data-dismiss="modal" *ngIf="personFlag">Unfollow</a>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>